build/
cmake-build-*/
.cache/

storage/**
!storage/
!storage/.gitkeep
!storage/input/
!storage/input/.gitkeep
!storage/output/
!storage/output/.gitkeep

*.o
*.a
*.so
*.log

.DS_Store
.vscode/
.idea/
.venv-tools/
